- var newRow = false
div.row.blog-masonry
  each blog, index in blogBody
    div.col-md-3.col-sm-6.post-masonry.blog-post.mb-3
      div.post-thumbnail
        if (blog.img)
          a(href="#{blog.postUrl}", title="#{blog.title}")
            img(src="#{blog.img}", alt="#{blog.title}")
      div.post-content
        h3.post-title
          a(href="#{blog.postUrl}")= blog.title
        div.post-meta
          span.date
            i.icon-calendar= blog.date
        p.mb-1 !{blog.excerpt}
        a(href="#{blog.postUrl}").read-more Continue Reading


